
<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
          <img src="./assets/image.png" height="60px"  width="50px" alt="">
          <h2 class="text">Welcome!</h2>
          <p class="lorem">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet ipsum perspiciatis omnis alias asperiores quasi velit aut quaerat, ullam blanditiis temporibus maiores sapiente possimus! Voluptatem blanditiis eius maxime porro. Aliquam.</p>
      </div>
      <div class="col-md-4">
          <div class="card"style="width:18rem">
              <app-navbar></app-navbar>
          </div>
          <router-outlet></router-outlet>
    </div>
  </div>

</div>